body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Rodape_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:8px;
    top:646px;
    width:960px;
    height:150px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:966px;
    height:156px;
}

.u1 {
    position:absolute;
    left:2px;
    top:67px;
    width:956px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Rodape_files/Logo_FGV_u2_normal.png');
}

.u2_container {
    position:absolute;
    left:520px;
    top:670px;
    width:186px;
    height:80px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:192px;
    height:86px;
}

.u3 {
    position:absolute;
    left:2px;
    top:32px;
    width:182px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:336px;
    top:771px;
    width:305px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../Rodape_files/Logo_Secretaria_u5_normal.png');
}

.u5_container {
    position:absolute;
    left:270px;
    top:670px;
    width:249px;
    height:80px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:255px;
    height:86px;
}

.u6 {
    position:absolute;
    left:2px;
    top:24px;
    width:245px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../Estrutura_de_mapa_e_indicadores_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:228px;
    top:224px;
    width:740px;
    height:422px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:746px;
    height:428px;
}

.u9 {
    position:absolute;
    left:2px;
    top:203px;
    width:736px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_line {
    background-image: url('../Estrutura_de_mapa_e_indicadores_files/u10_line.png');
}

.u10_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:422px;
}

.u10 {
    position:absolute;
    left:3px;
    top:224px;
    width:10px;
    height:422px;
    
}

.u12 {
    position:absolute;
    left:15px;
    top:260px;
    width:118px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../Mapa_-_Nivel_Estado_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:16px;
    top:283px;
    width:20px;
    height:20px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u14 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:42px;
    top:283px;
    width:77px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../Mapa_-_Nivel_Estado_files/u13_normal.png');
}

.u16_container {
    position:absolute;
    left:16px;
    top:313px;
    width:20px;
    height:20px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u17 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:42px;
    top:313px;
    width:44px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../Mapa_-_Nivel_Estado_files/u13_normal.png');
}

.u19_container {
    position:absolute;
    left:16px;
    top:344px;
    width:20px;
    height:20px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u20 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:42px;
    top:344px;
    width:44px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../Mapa_-_Nivel_Estado_files/u13_normal.png');
}

.u22_container {
    position:absolute;
    left:16px;
    top:374px;
    width:20px;
    height:20px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u23 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:42px;
    top:374px;
    width:100px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../Mapa_-_Nivel_Estado_files/u13_normal.png');
}

.u25_container {
    position:absolute;
    left:16px;
    top:404px;
    width:20px;
    height:20px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u26 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:42px;
    top:404px;
    width:109px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../Mapa_-_Nivel_Estado_files/u13_normal.png');
}

.u28_container {
    position:absolute;
    left:16px;
    top:435px;
    width:20px;
    height:20px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u29 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:42px;
    top:435px;
    width:66px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../Mapa_-_Nivel_Estado_files/u13_normal.png');
}

.u31_container {
    position:absolute;
    left:16px;
    top:465px;
    width:20px;
    height:20px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u32 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:42px;
    top:465px;
    width:126px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../Mapa_-_Nivel_Estado_files/u13_normal.png');
}

.u34_container {
    position:absolute;
    left:16px;
    top:496px;
    width:20px;
    height:20px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u35 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:42px;
    top:496px;
    width:126px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../Mapa_-_Nivel_Estado_files/u13_normal.png');
}

.u37_container {
    position:absolute;
    left:16px;
    top:526px;
    width:20px;
    height:20px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u38 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:42px;
    top:526px;
    width:84px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../Mapa_-_Nivel_Estado_files/u13_normal.png');
}

.u40_container {
    position:absolute;
    left:16px;
    top:556px;
    width:20px;
    height:20px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u41 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:42px;
    top:556px;
    width:91px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../Mapa_-_Nivel_Estado_files/u13_normal.png');
}

.u43_container {
    position:absolute;
    left:16px;
    top:587px;
    width:20px;
    height:20px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u44 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:42px;
    top:587px;
    width:152px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../Mapa_-_Nivel_Estado_files/u46_normal.png');
}

.u46_container {
    position:absolute;
    left:8px;
    top:165px;
    width:110px;
    height:58px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:64px;
}

.u47 {
    position:absolute;
    left:2px;
    top:21px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../Mapa_-_Nivel_Estado_files/u48_normal.png');
}

.u48_container {
    position:absolute;
    left:209px;
    top:283px;
    width:18px;
    height:362px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:24px;
    height:368px;
}

.u49 {
    position:absolute;
    left:2px;
    top:173px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../Mapa_-_Nivel_Estado_files/u50_normal.png');
}

.u50_container {
    position:absolute;
    left:210px;
    top:629px;
    width:17px;
    height:17px;
}

#u50_img {
    position:absolute;
    left:0px;
    top:0px;
    width:17px;
    height:17px;
}

.u51 {
    position:absolute;
    left:2px;
    top:0px;
    width:13px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../Mapa_-_Nivel_Estado_files/Pin_de_organiza_ao_u52_normal.png');
}

.u52_container {
    position:absolute;
    left:583px;
    top:415px;
    width:43px;
    height:40px;
}

#u52_img {
    position:absolute;
    left:0px;
    top:0px;
    width:43px;
    height:40px;
}

.u53 {
    position:absolute;
    left:2px;
    top:12px;
    width:39px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../Mapa_-_Nivel_Estado_files/Aba__Indicadores__u54_normal.png');
}

.u54_container {
    position:absolute;
    left:118px;
    top:165px;
    width:108px;
    height:58px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:114px;
    height:64px;
}

.u55 {
    position:absolute;
    left:2px;
    top:21px;
    width:104px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../Mapa_-_Nivel_Estado_files/u56_normal.png');
}

.u56_container {
    position:absolute;
    left:210px;
    top:284px;
    width:17px;
    height:19px;
}

#u56_img {
    position:absolute;
    left:0px;
    top:0px;
    width:17px;
    height:19px;
}

.u57 {
    position:absolute;
    left:2px;
    top:2px;
    width:13px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:102px;
    top:232px;
    width:24px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:18px;
    top:232px;
    width:27px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60 {
    position:absolute;
    left:49px;
    top:232px;
    width:48px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../Mapa_-_Nivel_Estado_files/u13_normal.png');
}

.u61_container {
    position:absolute;
    left:16px;
    top:617px;
    width:20px;
    height:20px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u62 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:42px;
    top:617px;
    width:66px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_normal {
    background-image: url('../Mapa_-_Nivel_Estado_files/u64_normal.png');
}

.u64_container {
    position:absolute;
    left:210px;
    top:303px;
    width:16px;
    height:52px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:22px;
    height:58px;
}

.u65 {
    position:absolute;
    left:2px;
    top:18px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:228px;
    top:174px;
    width:740px;
    height:39px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u67_normal {
    background-image: url('../Mapa_-_Nivel_Estado_files/u67_normal.png');
}

.u67_container {
    position:absolute;
    left:930px;
    top:182px;
    width:28px;
    height:24px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:34px;
    height:30px;
}

.u68 {
    position:absolute;
    left:2px;
    top:4px;
    width:24px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../Mapa_-_Nivel_Estado_files/u69_normal.png');
}

.u69_container {
    position:absolute;
    left:938px;
    top:189px;
    width:12px;
    height:10px;
}

#u69_img {
    position:absolute;
    left:0px;
    top:0px;
    width:12px;
    height:10px;
}

.u70 {
    position:absolute;
    left:2px;
    top:-3px;
    width:8px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u71 {
    position:absolute;
    left:16px;
    top:459px;
    width:184px;
    height:155px;
    overflow:hidden;
}

#pd0u71 {
    position:absolute;
    left:0px;
    top:0px;
    width:184px;
    height:155px;
    
}

.u72_normal {
    background-image: url('../Informa_oes_agregadas_de_cidade_files/Informa_oes_agregadas_de_cidade_u72_normal.png');
}

.u72_container {
    position:absolute;
    left:0px;
    top:1px;
    width:183px;
    height:152px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:189px;
    height:158px;
}

.u73 {
    position:absolute;
    left:5px;
    top:-1px;
    width:176px;
    height:154px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u75 {
    position:absolute;
    left:16px;
    top:617px;
    width:111px;
    height:21px;
    overflow:hidden;
}

#pd0u75 {
    position:absolute;
    left:0px;
    top:0px;
    width:111px;
    height:21px;
    
}

.u76_normal {
    background-image: url('../Mapa_-_Nivel_Estado_files/u76_normal.png');
}

.u76_container {
    position:absolute;
    left:0px;
    top:0px;
    width:110px;
    height:20px;
}

#u76_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:26px;
}

.u77 {
    position:absolute;
    left:2px;
    top:2px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_normal {
    background-image: url('../Mapa_-_Nivel_Estado_files/u13_normal.png');
}

.u78_container {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

#u78_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u79 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80 {
    position:absolute;
    left:26px;
    top:0px;
    width:66px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_container {
    position:absolute;
    left:228px;
    top:223px;
    width:740px;
    height:423px;
}

#u81_img {
    position:absolute;
    left:0px;
    top:0px;
    width:740px;
    height:423px;
}

.u82 {
    position:absolute;
    left:2px;
    top:204px;
    width:736px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u83 {
    position:absolute;
    left:615px;
    top:331px;
    width:411px;
    height:192px;
    overflow:hidden;
}

#pd0u83 {
    position:absolute;
    left:0px;
    top:0px;
    width:411px;
    height:192px;
    
}

.u84_normal {
    background-image: url('../Balao_de_informa_oes_de_organiza_ao_files/u84_normal.png');
}

.u84_container {
    position:absolute;
    left:0px;
    top:0px;
    width:410px;
    height:191px;
}

#u84_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:416px;
    height:197px;
}

.u85 {
    position:absolute;
    left:2px;
    top:88px;
    width:406px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:244px;
    top:56px;
    width:163px;
    height:108px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87 {
    position:absolute;
    left:75px;
    top:4px;
    width:140px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88 {
    position:absolute;
    left:218px;
    top:6px;
    width:70px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../Balao_de_informa_oes_de_organiza_ao_files/Botao_para_fechar_u89_normal.png');
}

.u89_container {
    position:absolute;
    left:390px;
    top:0px;
    width:20px;
    height:20px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u90 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_normal {
    background-image: url('../Balao_de_informa_oes_de_organiza_ao_files/u91_normal.png');
}

.u91_container {
    position:absolute;
    left:75px;
    top:24px;
    width:24px;
    height:24px;
}

#u91_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:24px;
}

.u92 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../Balao_de_informa_oes_de_organiza_ao_files/u91_normal.png');
}

.u93_container {
    position:absolute;
    left:102px;
    top:24px;
    width:24px;
    height:24px;
}

#u93_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:24px;
}

.u94 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../Balao_de_informa_oes_de_organiza_ao_files/u91_normal.png');
}

.u95_container {
    position:absolute;
    left:128px;
    top:24px;
    width:24px;
    height:24px;
}

#u95_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:24px;
}

.u96 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:156px;
    top:32px;
    width:124px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98_line {
    background-image: url('../Balao_de_informa_oes_de_organiza_ao_files/u98_line.png');
}

.u98_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:124px;
}

.u98 {
    position:absolute;
    left:232px;
    top:58px;
    width:10px;
    height:124px;
    
}

.u99 {
    position:absolute;
    left:75px;
    top:56px;
    width:163px;
    height:130px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_normal {
    background-image: url('../Cabe_alho_de_usuario_visitante_files/u49_normal.png');
}

.u101_container {
    position:absolute;
    left:8px;
    top:9px;
    width:960px;
    height:30px;
}

#u101_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:966px;
    height:36px;
}

.u102 {
    position:absolute;
    left:2px;
    top:6px;
    width:956px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_normal {
    background-image: url('../Cabe_alho_de_usuario_visitante_files/u51_normal.png');
}

.u103_container {
    position:absolute;
    left:8px;
    top:39px;
    width:960px;
    height:80px;
}

#u103_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:966px;
    height:86px;
}

.u104 {
    position:absolute;
    left:2px;
    top:32px;
    width:956px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_normal {
    background-image: url('../Cabe_alho_de_usuario_visitante_files/u53_normal.png');
}

.u105_container {
    position:absolute;
    left:8px;
    top:39px;
    width:854px;
    height:80px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:860px;
    height:86px;
}

.u106 {
    position:absolute;
    left:2px;
    top:32px;
    width:850px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107_normal {
    background-image: url('../Cabe_alho_de_usuario_visitante_files/u55_normal.png');
}

.u107_container {
    position:absolute;
    left:8px;
    top:119px;
    width:960px;
    height:46px;
}

#u107_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:966px;
    height:52px;
}

.u108 {
    position:absolute;
    left:2px;
    top:15px;
    width:956px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109 {
    position:absolute;
    left:871px;
    top:144px;
    width:92px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110_menu {
    background-image: url('../Cabe_alho_de_usuario_visitante_files/u58_menu.png');
}

.u110_menu {
    position:absolute;
    left:859px;
    top:36px;
    width:115px;
    height:89px;
}

#u110_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:86px;
}

#u111 {
    position:absolute;
    left:3px;
    top:3px;
    width:105px;
    height:79px
}

.u112_normal {
    background-image: url('../Cabe_alho_de_usuario_visitante_files/u60_normal.png');
}

.u112_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:74px;
}

#u112_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:80px;
}

.u113 {
    position:absolute;
    left:2px;
    top:29px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114_menu {
    background-image: url('../Cabe_alho_de_usuario_visitante_files/u62_menu.png');
}

.u114_menu {
    position:absolute;
    left:0px;
    top:74px;
    width:136px;
    height:55px;
}

#u114_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:133px;
    height:52px;
}

#u115 {
    position:absolute;
    left:3px;
    top:3px;
    width:126px;
    height:45px
}

.u116_normal {
    background-image: url('../Cabe_alho_de_usuario_visitante_files/Quero_me_cadastrar_u64_normal.png');
}

.u116_container {
    position:absolute;
    left:0px;
    top:0px;
    width:121px;
    height:20px;
}

#u116_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:127px;
    height:26px;
}

.u117 {
    position:absolute;
    left:2px;
    top:2px;
    width:117px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118_normal {
    background-image: url('../Cabe_alho_de_usuario_visitante_files/Quero_me_cadastrar_u64_normal.png');
}

.u118_container {
    position:absolute;
    left:0px;
    top:20px;
    width:121px;
    height:20px;
}

#u118_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:127px;
    height:26px;
}

.u119 {
    position:absolute;
    left:2px;
    top:2px;
    width:117px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120 {
    position:absolute;
    left:728px;
    top:144px;
    width:141px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121 {
    position:absolute;
    left:681px;
    top:144px;
    width:39px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122 {
    position:absolute;
    left:502px;
    top:120px;
    width:110px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123 {
    position:absolute;
    left:611px;
    top:120px;
    width:78px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124 {
    position:absolute;
    left:688px;
    top:120px;
    width:69px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125 {
    position:absolute;
    left:756px;
    top:120px;
    width:71px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126 {
    position:absolute;
    left:826px;
    top:120px;
    width:83px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127 {
    position:absolute;
    left:908px;
    top:120px;
    width:55px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u128 {
    position:absolute;
    left:725px;
    top:119px;
    width:244px;
    height:216px;
    overflow:hidden;
}

#pd0u128 {
    position:absolute;
    left:0px;
    top:0px;
    width:244px;
    height:216px;
    
}

.u129_normal {
    background-image: url('../Login_files/u77_normal.png');
}

.u129_container {
    position:absolute;
    left:0px;
    top:0px;
    width:243px;
    height:215px;
}

#u129_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:249px;
    height:221px;
}

.u130 {
    position:absolute;
    left:2px;
    top:100px;
    width:239px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131 {
    position:absolute;
    left:11px;
    top:10px;
    width:52px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132 {
    position:absolute;
    left:11px;
    top:33px;
    width:221px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u133 {
    position:absolute;
    left:11px;
    top:75px;
    width:52px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134 {
    position:absolute;
    left:11px;
    top:98px;
    width:221px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u135 {
    position:absolute;
    left:150px;
    top:174px;
    width:82px;
    height:30px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u136 {
    position:absolute;
    left:68px;
    top:184px;
    width:75px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137 {
    position:absolute;
    left:11px;
    top:133px;
    width:132px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u138 {
    position:absolute;
    left:11px;
    top:127px;
    width:222px;
    height:41px;
    overflow:hidden;
}

#pd0u138 {
    position:absolute;
    left:0px;
    top:0px;
    width:222px;
    height:41px;
    
}

.u139_normal {
    background-image: url('../Login_files/u87_normal.png');
}

.u139_container {
    position:absolute;
    left:0px;
    top:0px;
    width:221px;
    height:40px;
}

#u139_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:227px;
    height:46px;
}

.u140 {
    position:absolute;
    left:2px;
    top:12px;
    width:217px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u141 {
    position:absolute;
    left:0px;
    top:0px;
    width:221px;
    height:40px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

