body {
	color:#fff;
	background-color: #000;
}
a {
	text-decoration: underline !important;
}
a:hover {
    text-decoration: none !important;
}
#topo {
	background: url("../imagens/contraste/topo-contraste.jpg") no-repeat center right;
}
#topo_acessibilidade, #topo_links, #rodape, #footer {
	background-color: rgba(0, 0, 0, 0.8);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC000000,endColorstr=#CC000000) !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC000000,endColorstr=#CC000000)" !important;
	color: #fff;
}
#topo_links a:link, #topo_links a:visited {
	color: #fff !important;
}
#topo_acessibilidade a, #topo_acessibilidade a:link, #topo_acessibilidade a:visited, #topo_acessibilidade a:active,
#mapa_expandir .tabbody .breadcrumb li a,
#mapa.institucional h3 {
	color: #00b0ff;
}
#mapa.institucional h2, #mapa.institucional h3, #mapa.institucional h3 em {
    border-bottom-color: #00b0ff;
}
/* #mapa { */
/*     background-color: #333 !important; */
/* } */
#mapa_navegacao {
	background-color: #000 !important;
    filter: none !important;
    -ms-filter: none !important;
}
#mapa_expandir .tabs ul.tabs-list .first.current a {
    background-image: url("../imagens/01_mapa_off.png") !important;
    background-color: #000;
    color: #fff
}
#mapa_expandir .tabs ul.tabs-list .first a {
    background-image: url("../imagens/01_mapa_on.png") !important;
    background-color: #fff;
    color: #000;
}
#mapa_expandir .tabs ul.tabs-list .last.current a {
   background-color: #000;
    background-image: url("../imagens/02_indicadores_off.png") !important;
    color: #FFFFFF;
}
#mapa_expandir .tabs ul.tabs-list .last a {
   background-color: #fff;
    background-image: url("../imagens/02_indicadores_on.png") !important;
    color: #000;
}
#mapa_expandir .tabs ul.tabs-list {
    background-color: #fff;
}
#mapa_expandir .tabbody ul.dados, #mapa_navegacao h4 {
    background-color: #fff;
    border-right: 4px solid #00b0ff;
}
#mapa_expandir .tabbody > a {
    color: #fff;
}
#mapa_expandir .tabbody ul.dados li a {
    color: #444;
}
#mapa_expandir h4 a:hover, #mapa_navegacao h4 a:active {
    color: #00b0ff;
}
.mapa_organizacao {
	background-color: rgba(0, 0, 0, 0.9);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#E5000000,endColorstr=#E5000000) !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#E5000000,endColorstr=#E5000000)" !important;
}
#mapa.organizacao span, .tabbody ul.dados, #mapa_navegacao h4, .mapa_organizacao h4 em, .mapa_organizacao h2, #loading, #busca_resultado, .tip_recomendacao,
#mapa_navegacao h4 a {
    color: #000;
}
.mapa_organizacao ul li {
    list-style-image: url('../imagens/contraste/18_check.png');
}

#org_detalhes {
    background: url('../imagens/contraste/04_detalhes.png') 7px center no-repeat;
    background-color: #fff;
    color: #000;
}
#org_detalhes:hover {
    background: url('../imagens/04_detalhes.png') 7px center no-repeat;
    background-color: #333333;
    color: #fff
}
#topo, #rodape, #topo a:link, #topo a:visited, #mapa.config, #mapa.cadastro, #mapa.organizacao, #mapa.institucional, #topo_acesso input, #topo_acesso input[type=submit] {
    color: #fff;
}
#topo_acesso input[type=submit] {
    background-color: transparent !important;
}
#topo_acesso input {
    background-color: #000 !important;
}
#topo_acesso input#email {
    background-image: url("../imagens/contraste/11_email.png");
}
#topo_acesso input#senha {
    background-image: url("../imagens/contraste/12_senha.png");
}
#busca_resultado .resultado a {
    text-decoration: none !important;
}
#busca_resultado .resultado li a:hover,
button.exportar:hover
 {
    color: #fff;
    background-color: #000 !important;
}
#busca {
    
}
#topo_links #sobre {
    background: url('../imagens/contraste/07_portal.png') no-repeat center left;
}
#topo_links #duvidas {
    background: url('../imagens/contraste/08_faq.png') no-repeat center left;
}
#topo_links #sobre:hover {
    background: url('../imagens/contraste/07_portal.png') no-repeat center left;
}
#topo_links #duvidas:hover {
    background: url('../imagens/contraste/08_faq.png') no-repeat center left;
}
#doormat-container dl {
    border-left: 1px dotted #00b0ff;
}
#doormat-container dt {
    color: #00b0ff;
}
#footer a,
.formulario a,
#mapa.organizacao span,
#mapa.cadastro .instrucoes, .modal,
button#ajuda:hover, button#buscar:hover, button#ajuda:active, button#buscar:active, #alterar_local button:hover, #ajuda_local button:hover,
#mapa.cadastro .instrucoes ul li a:hover, .formulario .botoes input:hover, .formulario.organizacao button:hover,
#mapa.config .tabs,
#mapa.organizacao div.tabela > div,
#mapa.organizacao div.projetos div div,
#mapa.organizacao div.social .classificacao h3,
#mapa.organizacao div.tabela .dados div p:hover input[type=text], #mapa.organizacao div.tabela .dados div ul li:hover input[type=text],
#mapa.organizacao div.tabela .dados div div:hover select, #mapa.organizacao div.tabela input[type=text]:focus,
#mapa.organizacao div.tabela .dados div p:hover textarea, #mapa.organizacao div.tabela .projetos input:hover, #mapa.organizacao div.tabela .projetos textarea:hover,
#mapa.organizacao div.tabela .dados select option,
#mapa.organizacao.formulario > .botoes,
#mapa.organizacao div.social,
#mapa.organizacao div.tabela .dados input, #mapa.organizacao div.tabela .dados select, #mapa.organizacao div.tabela .dados textarea,
#mapa.organizacao div.projetos div div,
#mapa.organizacao div.tabela .projetos input, #mapa.organizacao div.tabela .projetos select, #mapa.organizacao div.tabela .projetos textarea,
#mapa.institucional a  {
    color: #fff;
}
#footer a:hover {
    color: #aaa;
}
#mapa.cadastro .instrucoes, .modal,
button#ajuda:hover, button#buscar:hover, button#ajuda:active, button#buscar:active, #alterar_local button:hover, #ajuda_local button:hover,
#mapa.config .tabs,
#mapa.organizacao div.tabela > div,
.tabs {
    background-color: #000;
}
#mapa.cadastro .instrucoes h2,
.formulario a:hover,
#mapa.organizacao div.docs div ul a,
#mapa.institucional a:hover,
#mapa_navegacao .tabbody.infograficos h4 a.current  {
    color: #00b0ff;
}
.modal h3, .mapa_organizacao h2, #mapa.config .tabs li.current a, #mapa.config h2,
div.b-redes label:hover, .social button:hover,
#mapa.cadastro h1,
#mapa.config h1, .formulario.organizacao h1,
#mapa.organizacao h1,
#mapa.organizacao .tabela div h2, #mapa.organizacao .projetos .titulo,
#mapa_navegacao .organizacao,
#mapa.cadastro .instrucoes ul li a:hover,
#mapa form > .titulo,
 #mapa_expandir button#expandir,
 #mapa.institucional h1,
 .mapa_organizacao h2, #mapa.institucional h3 em,
 #mapa.infograficos h1 {
    background-color: #00b0ff;
}
#mapa.cadastro .instrucoes ul li a, .cadastro h1,
#mapa.config h1, #mapa.organizacao h1, #mapa.institucional h1,
#mapa.institucional h3 em, .modal h3, #busca_filtros h3, #mapa.infograficos h1 {
    color: #000
}
#infograficos h2 {
    color: #fff;
    border-bottom-color: #fff;
}
#modal_redes h3, a.b-redes {
    background-position: 0px -24px;
}
#mapa.cadastro {
background-image: url(../imagens/contraste/cadastro_mapa.gif);
}
#mapa.organizacao div.tabela .dados div p:hover, #mapa.organizacao div.tabela .dados div div:hover {
    background-color: #555;
}
#mapa.organizacao div.tabela .dados div p:hover input[type=text], #mapa.organizacao div.tabela .dados div ul li:hover input[type=text],
#mapa.organizacao div.tabela .dados div div:hover select, #mapa.organizacao div.tabela input[type=text]:focus,
#mapa.organizacao div.tabela .dados div p:hover textarea, #mapa.organizacao div.tabela .projetos input:hover, #mapa.organizacao div.tabela .projetos textarea:hover,
#mapa.organizacao div.tabela .dados select option {
    border-color: #00b0ff;
    background-color: #00b0ff;
}
#mapa.organizacao div.projetos .separador {
    border-right: 3px solid #000;
}
#mapa.organizacao div.projetos div strong {
    background-color: #555;
}
#mapa.organizacao div.social {
    background-color: #005280
}
#mapa.organizacao div.projetos div div,
#mapa.organizacao div.tabela .projetos input, #mapa.organizacao div.tabela .projetos select, #mapa.organizacao div.tabela .projetos textarea   {
    background: #000;
    border: 1px solid #000;
}
#mapa.organizacao > .botoes,
#mapa.organizacao div.social {
    background-color: #000;
}
#mapa.organizacao .docs ul.dados li:hover a.excluir {
    background: #000 url("../imagens/03_diminuir_hover.png") no-repeat 0 0;
}
.mapa_organizacao ul li, .checklist li {
    list-style-image: url('../imagens/05_recomendar.png') !important; 
}
.documentos li, .formulario .documentos li {
    list-style-image: url('../imagens/contraste/documentos.gif');
}
#mapa.organizacao .social .recomendacoes span {
    color: #000;
}
#mapa.organizacao .social .classificacao h3 {
    background: url('../imagens/contraste/classificacao.gif') no-repeat 0 0;
}
.bg-01 {
background-image:url(../imagens/contraste/cadastro_mapa2.png);
}

.bg-02 {
background-image:url(../imagens/contraste/cadastro_mapa3.png);
}

a.b-redes, a.b-cadastro, a.b-entidade, div.b-redes label.tooltip {
    background-color: #fff;
    background-image: url(../imagens/contraste/sprite_cadastro.png);
}
div.b-redes label.tooltip,.social .redes button, .institucional .redes button {
background-color:#fff;
}
.formulario input[type=text], .formulario input[type=password], div.b-redes label.tooltip, #mapa.organizacao .redes button, #mapa.institucional .redes button, .modal h3, a.b-redes, a.b-cadastro, a.b-entidade, .formulario .botoes input {
background-image: url(../imagens/contraste/sprite_cadastro.png);
}
button.adicionar, input.adicionar[type="button"],button.adicionar:hover, input.adicionar[type="button"]:hover {
background-image: url(../imagens/sprite_organizacao.png) !important;
}
#busca_filtros h3 {
    background-image: url("../imagens/contraste/filtrar.gif");
}
input[type=text], input[type=password], select,
input#campobusca {
border: 1px solid #fff;
color: #fff;
background-color: #000
}
button.ajuda:hover, #busca button:hover, button.ajuda:active, button.buscar:active, #busca .filtros a.filtrar:hover, #alterar_local button:hover, #ajuda_local button:hover, .cadastro .instrucoes ul li a:hover, div.b-redes label.tooltip:hover, div.redes button:hover, button.alterar:hover, button.carregar:hover, button.adicionar:hover, input[type=button].adicionar:hover, button.participar:hover, input[type=submit].salvar:hover, button.excluir:hover, input[type=submit].botao_entrar:hover, .formulario input[type=submit]:hover, .formulario input[type=button]:hover, .formulario button:hover, #busca_filtros div button:hover, #busca_filtros h3 {
background-color: #00B0FF;
}
.formulario .botoes input,
.formulario input[type="submit"], .formulario input[type="button"], .formulario button, .classificacao button {
    background-color: #fff;
    color: #000
}
#mapa.cadastro .instrucoes ul li a.b-redes + em {
background-image: url(../imagens/contraste/cadastro_01.png);
}
#mapa.cadastro .instrucoes ul li a.b-cadastro + em {
background-image: url(../imagens/contraste/cadastro_02.png);
}
#mapa.cadastro .instrucoes ul li a.b-entidade + em {
background-image: url(../imagens/contraste/cadastro_03.png);
}
#mapa_expandir .tabbody#regiao ul.dados li, .formulario ul li {
list-style-image: url(../imagens/contraste/16_topicos.png);
}
input.error, input.erro_ent, textarea.erro_ent, select.erro_ent {
background-color: #000!important;
}

#alterar_local button:hover, #ajuda_local button:hover, .formulario .botoes input:hover {
background-image: url(../imagens/sprite_cadastro.png);
}
 .filtros a.filtrar { text-decoration: none !important;}

 .config .tabs ul.tabs-list .first.current a,  .config .tabs ul.tabs-list .first a, .config h2 {
    color: #000;
    background-position: 0 -540px;
}
.config .tabs ul.tabs-list .last.current a, .config .tabs ul.tabs-list .last a {
    color: #000;
    background-position: 0 -600px;
}

#mapa.institucional .faq > div a {
    background-image: url("../imagens/contraste/topo.gif");
}
#mapa.institucional .faq > div a:hover {
    background-image: url("../imagens/contraste/topo_hover.gif");
}

#mapa.organizacao div.tabela .dados input[type="text"], #mapa.organizacao div.tabela .dados select, #mapa.organizacao div.tabela .dados textarea {
    background-color: #000;
    border-color: #000;
}

#mapa.organizacao h1 em, #mapa.organizacao .social .classificacao h3, .classificacao ul.dados li, button.alterar, button.carregar, button.exportar, button.adicionar, input.adicionar[type="button"], button.participar, button.excluir {
background-image: url(../imagens/contraste/sprite_organizacao.png);
}
button.alterar:hover, button.carregar:hover, button.exportar:hover, button.adicionar:hover, input.adicionar[type="button"]:hover, button.participar:hover, button.excluir:hover {
background-image: url(../imagens/sprite_organizacao.png);
}
button.recomendar {
    background: url("../imagens/05_recomendar.png") no-repeat scroll 9px 10px #DD9C28;
    color: #fff;
}
button.recomendar:hover {
    background-color: #E7AB37;
}
#mapa.institucional h2.parceiros {
    background-image: url("../imagens/contraste/19_parceiros.png");
}
#mapa.institucional h2.contato {
    background-image: url("../imagens/contraste/20_contato.png");
}
#mapa.institucional h2 {
    color: #fff;
}
#busca_filtros div button {
    background-color: #000;
    color: #fff;
    background-image: url("../imagens/sprite_organizacao.png");
}
#mapa.infograficos{background-image: url('../imagens/contraste/bolinhas_fundo.png')}
#infograficos{
	background-color: #000;
}
#mapa{
	background-color: #000;
}