* html .u0_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Configura_oes_de_usuario_representante_de_entidade_-_Aba__Identifica_ao__files/u0_normal.png");
}

* html .u2_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Rodape_files/u0_normal.png");
}

* html .u4_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Rodape_files/Logo_FGV_u2_normal.png");
}

* html .u7_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Rodape_files/Logo_Secretaria_u5_normal.png");
}

* html .u11_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Configura_oes_de_usuario_representante_de_entidade_-_Aba__Identifica_ao__files/u11_line.png");
}

* html .u15_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Cabe_alho_de_usuario_representante_de_entidade_files/u32_normal.png");
}

* html .u17_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Cabe_alho_de_usuario_representante_de_entidade_files/u34_normal.png");
}

* html .u19_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Cabe_alho_de_usuario_representante_de_entidade_files/u36_normal.png");
}

* html .u22_menu {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Cabe_alho_de_usuario_representante_de_entidade_files/u39_menu.png");
}

* html .u24_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Cabe_alho_de_usuario_representante_de_entidade_files/u41_normal.png");
}

* html .u26_menu {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Cabe_alho_de_usuario_representante_de_entidade_files/u43_menu.png");
}

* html .u28_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Cabe_alho_de_usuario_representante_de_entidade_files/Minhas_configura_oes_u45_normal.png");
}

* html .u30_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Cabe_alho_de_usuario_representante_de_entidade_files/Sair_u47_normal.png");
}

* html .u32_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Cabe_alho_de_usuario_representante_de_entidade_files/u49_normal.png");
}

* html .u34_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Cabe_alho_de_usuario_representante_de_entidade_files/u51_normal.png");
}

* html .u36_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Cabe_alho_de_usuario_representante_de_entidade_files/u53_normal.png");
}

* html .u43_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Configura_oes_de_usuario_representante_de_entidade_-_Aba__Identifica_ao__files/Aba__Preferencias__u43_normal.png");
}

* html .u45_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Configura_oes_de_usuario_representante_de_entidade_-_Aba__Identifica_ao__files/Aba__Preferencias__u43_normal.png");
}

* html .u47_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Configura_oes_de_usuario_representante_de_entidade_-_Aba__Identifica_ao__files/u47_normal.png");
}

