* html .u0_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Rodape_files/u0_normal.png");
}

* html .u2_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Rodape_files/Logo_FGV_u2_normal.png");
}

* html .u5_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Rodape_files/Logo_Secretaria_u5_normal.png");
}

* html .u9_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Configura_oes_de_usuario_com_login_em_rede_social_files/u9_line.png");
}

* html .u13_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Configura_oes_de_usuario_com_login_em_rede_social_files/Outra_rede_social_u13_normal.png");
}

* html .u15_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Configura_oes_de_usuario_com_login_em_rede_social_files/u15_normal.png");
}

* html .u17_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Configura_oes_de_usuario_com_login_em_rede_social_files/u17_normal.png");
}

* html .u19_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Configura_oes_de_usuario_com_login_em_rede_social_files/u19_normal.png");
}

* html .u25_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Configura_oes_de_usuario_com_login_em_rede_social_files/u25_normal.png");
}

* html .u27_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Configura_oes_de_usuario_com_login_em_rede_social_files/Google_u27_normal.png");
}

* html .u29_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Cabe_alho_de_usuario_com_login_em_rede_social_files/u37_normal.png");
}

* html .u31_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Cabe_alho_de_usuario_com_login_em_rede_social_files/u39_normal.png");
}

* html .u33_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Cabe_alho_de_usuario_com_login_em_rede_social_files/u41_normal.png");
}

* html .u36_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Cabe_alho_de_usuario_com_login_em_rede_social_files/u44_normal.png");
}

* html .u38_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Cabe_alho_de_usuario_com_login_em_rede_social_files/u46_normal.png");
}

* html .u40_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Cabe_alho_de_usuario_com_login_em_rede_social_files/u48_normal.png");
}

* html .u42_menu {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Cabe_alho_de_usuario_com_login_em_rede_social_files/u50_menu.png");
}

* html .u44_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Cabe_alho_de_usuario_com_login_em_rede_social_files/u52_normal.png");
}

* html .u46_menu {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Cabe_alho_de_usuario_com_login_em_rede_social_files/u54_menu.png");
}

* html .u48_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Cabe_alho_de_usuario_com_login_em_rede_social_files/Minhas_configura_oes_u56_normal.png");
}

* html .u50_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Cabe_alho_de_usuario_com_login_em_rede_social_files/Sair_u58_normal.png");
}

