<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<context-param>
		<param-name>TestMode</param-name>
		<param-value>FALSE</param-value>
	</context-param>
	<context-param>
		<param-name>DriverName</param-name>
		<param-value>org.postgresql.Driver</param-value>
	</context-param>
	<context-param>
		<param-name>DBMS</param-name>
		<param-value>postgresql</param-value>
	</context-param>
	<context-param>
		<param-name>ServerName</param-name>
		<param-value>[HOST]</param-value>
	</context-param>
	<context-param>
		<param-name>Port</param-name>
		<param-value>5432</param-value>
	</context-param>
	<context-param>
		<param-name>DatabaseName</param-name>
		<param-value>[DB_NAME]</param-value>
	</context-param>
	<context-param>
		<param-name>UserName</param-name>
		<param-value>[USER]</param-value>
	</context-param>
	<context-param>
		<param-name>Password</param-name>
		<param-value>[PASSWD]</param-value>
	</context-param>
	<context-param>
		<param-name>InitialPoolSize</param-name>
		<param-value>10</param-value>
	</context-param>
	<context-param>
		<param-name>MaxActiveConnections</param-name>
		<param-value>100</param-value>
	</context-param>
	<context-param>
		<param-name>MaxWaitConnections</param-name>
		<param-value>10000</param-value>
	</context-param>
	<context-param>
		<param-name>MaxIdleConnections</param-name>
		<param-value>30</param-value>
	</context-param>
	<context-param>
		<param-name>MinIdleConnections</param-name>
		<param-value>10</param-value>
	</context-param>
	<context-param>
		<param-name>InitialClusterZoomLevel</param-name>
		<param-value>6</param-value>
	</context-param>
	<context-param>
		<param-name>ClusterGridSize</param-name>
		<param-value>100</param-value>
	</context-param>
	<context-param>
		<param-name>MinClusterZoomLevel</param-name>
		<param-value>4</param-value>
	</context-param>
	<context-param>
		<param-name>MaxClusterZoomLevel</param-name>
		<param-value>18</param-value>
	</context-param>
	<context-param>
		<param-name>PastaDocumentos</param-name>
		<param-value>documentos</param-value>
	</context-param>
	<context-param>
		<param-name>PastaEstatutos</param-name>
		<param-value>arquivos_estatuto</param-value>
	</context-param>
	<context-param>
		<param-name>PastaQuadroDirigentes</param-name>
		<param-value>arquivos_quadro_dirigentes</param-value>
	</context-param>
	<context-param>
		<param-name>PastaConvenios</param-name>
		<param-value>arquivos_convenios</param-value>
	</context-param>
	<context-param>
		<param-name>PastaPrestacaoContas</param-name>
		<param-value>arquivos_prestacao_contas</param-value>
	</context-param>
	<context-param>
		<param-name>FACEBOOK_APP_ID</param-name>
		<param-value>[FB_APP_ID]</param-value>
	</context-param>
	<context-param>
		<param-name>FACEBOOK_APP_SECRET</param-name>
		<param-value>[FB_APP_SECRET]</param-value>
	</context-param>
	<context-param>
		<param-name>FACEBOOK_APP_TOKEN</param-name>
		<param-value>[FB_APP_TOKEN]</param-value>
	</context-param>
	<context-param>
		<param-name>CHAVE_CRIPTOGRAFIA</param-name>
		<param-value>[CRIPT]</param-value>
	</context-param>
	<!-- Servlets -->
	<servlet>
		<servlet-name>remoteLogging</servlet-name>
		<servlet-class>com.google.gwt.logging.server.RemoteLoggingServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>mapService</servlet-name>
		<servlet-class>gov.sgpr.fgv.osc.portalosc.map.server.MapServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>oscService</servlet-name>
		<servlet-class>gov.sgpr.fgv.osc.portalosc.map.server.OscServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>placeService</servlet-name>
		<servlet-class>gov.sgpr.fgv.osc.portalosc.map.server.PlaceServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>searchService</servlet-name>
		<servlet-class>gov.sgpr.fgv.osc.portalosc.map.server.SearchServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>searchOSCService</servlet-name>
		<servlet-class>gov.sgpr.fgv.osc.portalosc.user.server.SearchServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>userService</servlet-name>
		<servlet-class>gov.sgpr.fgv.osc.portalosc.user.server.UserServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>socialNetworkService</servlet-name>
		<servlet-class>gov.sgpr.fgv.osc.portalosc.user.server.SocialNetworkServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>jUnitHostImpl</servlet-name>
		<servlet-class>com.google.gwt.junit.server.JUnitHostImpl</servlet-class>
	</servlet>
	<!-- Servlets mappings -->
	<servlet-mapping>
		<servlet-name>remoteLogging</servlet-name>
		<url-pattern>/User/remote_logging</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>remoteLogging</servlet-name>
		<url-pattern>/Map/remote_logging</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>mapService</servlet-name>
		<url-pattern>/Map/mapService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>oscService</servlet-name>
		<url-pattern>/Map/oscService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>placeService</servlet-name>
		<url-pattern>/Map/placeService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>searchService</servlet-name>
		<url-pattern>/Map/searchService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	<servlet-name>searchOSCService</servlet-name>
		<url-pattern>/User/searchOSCService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>userService</servlet-name>
		<url-pattern>/User/userService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>userService</servlet-name>
		<url-pattern>/Map/userService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>socialNetworkService</servlet-name>
		<url-pattern>/User/socialNetworkService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>socialNetworkService</servlet-name>
		<url-pattern>/Map/socialNetworkService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>jUnitHostImpl</servlet-name>
		<url-pattern>/Prototype/junithost/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>jUnitHostImpl</servlet-name>
		<url-pattern>/Map/junithost/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>jUnitHostImpl</servlet-name>
		<url-pattern>/User/junithost/*</url-pattern>
	</servlet-mapping>
	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>Map.html</welcome-file>
	</welcome-file-list>
</web-app>
